<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The History of Climate Change</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/whatisclimatechange">Climate Change</a>
        <a href="/climatechangeissues">Issues</a>
        <a href="/history">History</a>
    </nav>

    <section class="hero">
        <div class="hero-inner">
            <h1>Climate Changes History</h1>
            <h2>How has it changed and what effects has it had</h2>
            <a href="" class="btn" id="scroll-btn">Lets find out</a>
        </div>
    </section>

    
    <div class="timeline-wrapper" id="timelinee">
        <div class="timeline">

        <div class="timeline-item left">
            <div class="content">
            <h2>1938 - Proof that global temperatures are rising</h2>
            <p>Steam engineer Callendar began collecting records from 147 weather stations across the world, after calculations he discovered that global temperatures had risen 0.3°C over the previous 50 years. </p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
            <h2>1958 - CO2 levels are rising</h2>
            <p>Postgraduate geochemist Charles David Keeling designed his own apparatus and went to a weather station ontop of the Mauna Loa volcano in Hawaii. Within five years he had provided the first unequivocal proof that CO2 concentrations were rising.</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
            <h2>1969 - Earth’s temperature measured with satellites for first time</h2>
            <p>NASA’s Nimbus III satellite is launched into orbit – it provides the world’s first accurate measurement of global atmospheric temperatures. This provided an independent satellite record confirming that the Earth’s lower atmosphere was warming. </p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
            <h2>1991 - Wind power takes off in the UK</h2>
            <p>The UK’s first wind farm is constructed in Cornwall and it includes 10 turbines that together produce enough electricity for approximately 2,700 homes</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
            <h2>1992 - Coral reefs at threat</h2>
            <p>Scientists realise that higher levels of CO2 in the ocean will make it harder for corals and other animals to build reefs</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
            <h2>1997 - Hybrid cars invented</h2>
            <p>The first mass-market electric hybrid car is produced by Toyota</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
            <h2>2007 - The Arctic is warming twice as fast as the rest of the planet</h2>
            <p>Polar regions are warming twice as fast as the rest of the Earth, putting polar bears and other wildlife at risk</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
            <h2>2019 - Variety of life on Earth being lost at “unprecedented” pace</h2>
            <p>Up to one million animal and plant species are now threatened with extinction, and many could die out within decades</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
            <h2>2021 - Many aspects of climate change are now inevitable and irreversible</h2>
            <p>Scientists predict the world will reach 1.5C of warming by 2040, earlier than initial warnings. That level of warming will lead to more heatwaves, intense storms, droughts and floods</p>
            </div>
        </div>

        
        </div>
    </div>


    <section class="timeline-wrapper future-timeline">
        <h2 class="timeline-title">The Path Forward</h2>
        <p class="timeline-intro">From lessons of the past to actions for the future — here’s how we can protect our planet and secure a better tomorrow.</p>

            <div class="timeline">

                <div class="timeline-item left">
                <div class="content">
                    <h2>Keep Fossil Fuels in the Ground</h2>
                    <p>Fossil fuels like coal, oil, and gas make climate change worse. Countries need to stop using them as soon as possible.</p>
                </div>
                </div>

                <div class="timeline-item right">
                <div class="content">
                    <h2>Invest in Renewable Energy</h2>
                    <p>Switch to clean energy sources like solar, wind, tidal, and geothermal power instead of fossil fuels.</p>
                </div>
                </div>

                <div class="timeline-item left">
                <div class="content hope-content">
                    <h2>“The future depends on what we do today.”</h2>
                    <p>— Mahatma Gandhi</p>
                </div>
                </div>

                <div class="timeline-item right">
                <div class="content">
                    <h2>Switch to Sustainable Transport</h2>
                    <p>Drive less, use electric vehicles, and reduce air travel to cut pollution and emissions.</p>
                </div>
                </div>

                <div class="timeline-item left">
                <div class="content">
                    <h2>Make Homes Energy Efficient</h2>
                    <p>Insulate homes and use heat pumps instead of gas or oil heating to stay warm while saving energy.</p>
                </div>
                </div>

                <div class="timeline-item right">
                <div class="content hope-content">
                    <h2>“The future depends on what we do today.”</h2>
                    <p>— Mahatma Gandhi</p>
                </div>
                </div>

                <div class="timeline-item left">
                <div class="content">
                    <h2>Eat More Plant-Based Foods</h2>
                    <p>Reducing meat and dairy helps lower emissions. Farmers and food companies can provide more plant-based options.</p>
                </div>
                </div>

                <div class="timeline-item right">
                <div class="content">
                    <h2>Restore Nature</h2>
                    <p>Plant trees and protect wild areas so nature can absorb more carbon and support biodiversity.</p>
                </div>
                </div>

            </div>
        </div>

    </section>


    
    
    <script>
        document.querySelectorAll('.faq-question').forEach(item => {
            item.addEventListener('click', () => {
                item.parentElement.classList.toggle('active');
            });
        });

        document.getElementById("scroll-btn").addEventListener("click", function(e) {
            e.preventDefault(); // stop the # from showing
            document.getElementById("timelinee").scrollIntoView({ 
            behavior: "smooth" 
            });
        });
        
        const items = document.querySelectorAll(".timeline-item");
        const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("show");
            } else {
                entry.target.classList.remove("show");
            }
            });
        },
        {
            threshold: 0.3,
            rootMargin: "0px 0px -100px 0px",
        }
        );
        items.forEach((item) => observer.observe(item));

    
    </script>


</body>
</html>
