<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/whatisclimagechange">Climate Change</a>
        <a href="/climatechangeissues">Issues</a>
    </nav>

    <section class="hero">
        <div class="hero-inner">
            <h1>My awesome website</h1>
            <h2>Look at this website and bask in its amazing glory!</h2>
            <a href="https://example.com/" class="btn">Go ahead...</a>
        </div>
    </section>
    
    <div class="grid-container">
        <div class="column-one">
            <h1>About Me</h1>
            <p>My Name: Ashton Balu.</p>
            <p>Year 11</p>
            <p>Hobbies: Cars and Photography</p>
        </div>
        <div class="column-two">
            <img src="https://photos.schoolpoint.co.nz/students/2025/59/stud074e9a71b633938f5f8f43acfc0ffcb.jpg?v1742951239&v=20250825">
            <p>Mauris viverra scelerisque lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ultrices enim sit amet elit tincidunt maximus. Suspendisse vitae pellentesque lectus. Duis commodo leo suscipit augue mollis, non venenatis dolor ullamcorper. Duis tincidunt scelerisque lacus, vel vehicula leo consectetur vel. Duis posuere nisl non odio consequat ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

</body>
</html>