<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/whatisclimatechange">Climate Change</a>
        <a href="/climatechangeissues">Issues</a>
        <a href="/history">History</a>
    </nav>

    <section class="hero">
        <div class="hero-inner">
            <h1>Climate Change</h1>
            <h2>It's Real and it's Not Slowing Down!</h2>
            <a href="https://example.com/" class="btn">Go ahead...</a>
        </div>
    </section>
    
    <div class="grid-container">
        <div class="column-one">
            <h1>About Me</h1>
            <p>My Name: Ashton Balu.</p>
            <p>Year 11</p>
            <p>Hobbies: Cars and Photography</p>
            <p>My Name is Ashton and I am a year 11 student at Sacred Heart College, I am a photographer and a car mainiac, I generally make websites in my own time when I'm bored, mainly to help me with something that I dont want to pay for, like password vaults that sync across my devices. I tend to make practical websites that I could actually use rather than static page</p>
        </div>
        <div class="column-two">
            <img src="https://photos.schoolpoint.co.nz/students/2025/59/stud074e9a71b633938f5f8f43acfc0ffcb.jpg?v1742951239&v=20250825">
        </div>
    </div>

</body>
</html>